:root {
	box-sizing: border-box;
	--Orange: hsl(25, 97%, 53%);
	--White: hsl(0, 0%, 100%);
	--LightGrey: hsl(217, 12%, 63%);
	--MediumGrey: hsl(216, 12%, 54%);
	--DarkBlue: hsl(213, 19%, 18%);
	--VeryDarkBlue: hsl(216, 12%, 8%);
	--fs-paragraph: 15px;
	--ff: "Overpass", sans-serif;
	--fw-sm: 400;
	--fw-bold: 700;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	font-family: var(--ff);
	background-color: var(--VeryDarkBlue);
}
.container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2em;
	padding: 1em;
	position: relative;
}
.inner {
	position: relative;
}
img {
	max-width: 100%;
}
.card {
	max-width: 400px;
	width: 100%;
	border-radius: 30px;
	background-color: var(--DarkBlue);
	padding: 2em;
}
.star__container {
	background-color: var(--DarkBlue);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	width: 2.8em;
	height: 2.8em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5em;
}
.title {
	color: var(--White);
	margin: 0.5em 0;
}
.text {
	color: var(--LightGrey);
	font-size: var(--fs-paragraph);
}
.ratings {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
	margin: 1.4em 0;
	@media (min-width: 370px){
		justify-content: space-between;
	}
}
.btn {
	padding: 1em;
	border-radius: 50%;
	border: none;
	width: 3em;
	height: 3em;
	cursor: pointer;
	display: block;
	color: var(--LightGrey);
	background-color: var(--DarkBlue);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	&:hover {
		background-color: var(--Orange);
		color: var(--White);
	}
}
.isSelected {
	color: var(--White);
	background-color: var(--MediumGrey);
}
.btn__submit {
	display: block;
	width: 100%;
	border-radius: 40px;
	color: var(--White);
	background-color: var(--Orange);
	text-transform: uppercase;
	&:hover {
		background-color: var(--White);
		color: var(--Orange);
	}
}

.card__feedback {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.illustration {
	display: block;
	margin: 0em auto 1.5em;
	width: 140px;
}
.feedback {
	color: var(--Orange);
	background-color: var(--DarkBlue);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	padding: 1em 1.8em;
	border-radius: 40px;
	font-size: 0.8rem;
	display: inline-block;
	margin: 0.6em 0;
}
.attribution {
	font-size: 11px;
	text-align: center;
	justify-self: end;
	width: 100%;
	a {
		color: hsl(228, 45%, 44%);
	}
}
